body{
  font-family: 'Inconsolata', monospace;
}
.App {
  text-align: center;
}
.App-header {
  background-color:white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header div{
margin: 0px 10px;
}

.input-form{
  display: flex;
  flex-direction: column;
}
.input-form input{
  border-radius: 5px;
  margin: 2px 0px;
}
::placeholder {
  color: gray;
  font-size: 12px;
}
.credit-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 120px;
  padding: 25px;
  border-radius: 15px;
  color: white;
  background-color: #124164;
}
/* .credit-card  div{
  border:1px solid black
} */
.credit-card img{
  width: 26px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid gray;
}
.bank-name {
}

