body{
  font-family: 'Inconsolata', monospace;
}
.App {
  text-align: center;
}
.App-header {
  background-color:white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header>div{
margin: 0px 10px;
/* border: 1px solid; */
}

.input-form{
  display: flex;
  flex-direction: column;
}
.input-form input{
  border-radius: 5px;
  margin: 2px 0px;
}
::placeholder {
  color: gray;
  font-size: 12px;
}
.credit-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 132px;
  padding: 15px;
  border-radius: 15px;
  color: white;
  background-color: #124164;
  font-size: 12px;
}
.card-puce{
  width: 26px;
  height: 25px;
  /* margin-left: 9px; */
  border-radius: 5px;
  border: 1px solid gray;
}
.card-logo{
  width: 50px;
  height: 40px;
}
.bank-name {
  text-align: end;
}
.card-footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.expiry{
  top: 250px;
  right: 350px;
  border: 1px solid black;
}
.name{
  width: 119px;
  height: 13px;
  text-align: initial;
  margin-top: 20px;
}

